<div class="d-flex  " data-page="{{currentPage}}">
    {{#each currentData}}
    <div class="mb-40 col-3 pd-h15  row-items">
        <div class="col-1 content-new">
            <a class="" href="{{this.link}} ">
                <img class=" text-center col-1" src="https://acmjinzai.com/{{this.image}}" alt="">
            </a>
            <div class=" pd-15 ">
                <div class="mb-16">
                    <span class="span-text"><i class="fa-regular fa-calendar"></i> {{this.date}}</span>
                </div>
                <a href="{{this.link}}">
                    <h5 class="mb-16 heading-text">{{this.heading}}</h5>
                </a>
                <p class="mb-16 describe-text">{{this.description}}</p>
            </div>
        </div>
    </div>

    {{/each}}

</div>