
{{>slider}}
<div id="" class="content">
    <section class="content-nav d-flex jc-center  row">
        <div class="container  d-flex">
            <div class=" col-2  pd-16 mb-40">
                <div class="latest-news bg-w">
                    <div class=" d-flex">
                        <div class="col-2 pd-30">
                            <span class="span-text mb-10"><i class="fa-solid fa-calendar"></i> 01/12/2022</span>
                            <a class="mb-8" href="">
                                <h3 class="heading-text">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Đơn hàng mới nhất
                                </h3>
                            </a>
                            <a href="" class="describe-text"><i class="fa-regular fa-hard-drive"></i> ĐÚC NHỰA</a>

                        </div>
                        <div class="col-2">
                            <a href=""><img src="https://acmjinzai.com/main_master/images/donhang/order-2.jpg" alt=""
                                    width="100%"></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    {{!-- start info --}}
    <section class="content-info d-flex jc-center pt-105 pb-105 row">
        <div class="container  d-flex">
            {{#each programmes}}
            <div class=" col-2  text-center pd-16 mb-40">
                <img class="col-4 mb-8" src="https://acmjinzai.com/{{this.image}}" alt="">
                <div class="content_item-content">
                    <h3 class="heading-text mb-20">{{this.heading}}</h3>
                    <p class="describe-text mb-16 pd-h16">{{this.description}}</p>
                </div>
            </div>
            {{/each}}


        </div>
    </section>
    {{!-- end info --}}

    {{!-- start order --}}
    <section class="content-order d-flex jc-center row pt-105">
        <div class="container  row">
            <div class="mb-40  col-1">
                <div class="row text-center mb-24">

                    <h2 class="title-text">ĐƠN HÀNG</h2>
                </div>

                <div class="content_item-content col-1 row">
                    <div class="d-flex pd-15 jc-center ai-center row bg-yld">
                        <div class="describe-text pd-5 col-3 ">TÊN ĐƠN HÀNG</div>
                        <div class="describe-text pd-5 col-6">Mức lương</div>
                        <div class="describe-text pd-5 col-6">Yêu cầu</div>
                        <div class="describe-text pd-5 col-6">Nơi làm việc</div>
                        <div class="describe-text pd-5 col-6">Ngày tuyển</div>
                    </div>

                    {{#each orders}}
                    <div class="d-flex pd-15 jc-center ai-center  row bg-wl">
                        <div class="  pd-5 col-3 "> <a href="" class="text-dark">{{this.nameOrder}}</a> </div>
                        <div class=" describe-text pd-5 col-6">{{this.salary}}</div>
                        <div class=" describe-text pd-5 col-6">{{this.request}}</div>
                        <div class=" describe-text pd-5 col-6">{{this.workPlace}}</div>
                        <div class=" describe-text pd-5 col-6">{{this.recruimentDay}}</div>

                    </div>
                    {{/each}}

                </div>
                <div class="row text-center mt-48">

                    <a href="/order" class="btn pd-16-24 bg-blue">Xem đơn hàng</a>
                </div>
            </div>


    </section>
    {{!-- end order --}}

    {{!-- start counter --}}
    <section class="content-counter d-flex jc-center pt-105 pb-105">
        <div class="container">
            <div class="mb-40 col-1">
                <div class="row text-center">
                    <h2 class="mb-24 title-text">ACM - 2024</h2>
                </div>
                <div class=" col-1 row d-flex jc-center">
                    <div class="  col-4 text-center ">
                        <strong class="number">1030</strong>
                        <span class="number-describe">ứng viên</span>
                    </div>
                    <div class="  col-4 text-center ">
                        <strong class="number">78</strong>
                        <span class="number-describe">đơn hàng</span>
                    </div>
                    <div class="  col-4 text-center ">
                        <strong class="number">400</strong>
                        <span class="number-describe">học viên xuất cảnh</span>
                    </div>
                    <div class="  col-4 text-center ">
                        <strong class="number">100</strong>
                        <span class="number-describe">liên kết trường </span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {{!-- end couter --}}

    {{!-- start require --}}
    <section class="content-require d-flex jc-center  bg-yld">
        <div class="container ">
            <div class="mb-40 col-1 d-flex jc-center pd-v45">

                <div class="  col-2 pd-h15 ">
                    <div class=" col-75  ">
                        <h3 class="heading-text mb-8">Mục tiêu</h3>
                        <p class="describe-text">Mục tiêu đào tạo và giáo dục của chúng tôi là chuyển biến nhân sự của
                            doanh nghiệp
                            trở thành nguồn tài nguyên quan trọng nhất bằng cách thay đổi ý thức và tư duy sao
                            cho bản thân nhân viên tự mình suy nghĩ, tự đặt ra mục tiêu, tự hành động để tạo ra
                            được sự tin tưởng lớn nhất...</p>
                    </div>
                </div>
                <div class="  col-2 pd-h15 ">
                    <div class="  ">
                        <h3 class="heading-text mb-8">Hồ sơ cần chuẩn bị</h3>
                        <ul class="">
                            <li class="describe-text text-white">✓ Chứng minh nhân dân</li>
                            <li class="describe-text text-white">✓ Hộ chiếu</li>
                            <li class="describe-text text-white">✓ 2 ảnh 4x6 ( chuẩn quốc tế )</li>
                            <li class="describe-text text-white">✓ Khám sức khỏe ( Nam: 1.000.000đ - Nữ: 900.000đ )</li>
                            <li class="describe-text text-white">✓ Đơn xác nhận hạnh kiểm / Đơn xác nhận tiền án tiền sự
                            </li>
                            <li class="describe-text text-white">✓ Đơn xác nhận tình trạng hôn nhân (đối với trường hợp
                                chưa kết
                                hôn)</li>
                            <li class="describe-text text-white">✓ Đối với các ứng viên đã từng đăng ký / tham gia đi
                                làm việc /
                                du học /
                                giao lưu văn hóa / du lịch /... tại nước ngoài, cần đem theo toàn bộ hồ sơ liên
                                quan.
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
    </section>
    {{!-- end require --}}

    {{!-- student feedback --}}
    <section class="content-feedback d-flex jc-center pt-105 pb-105">


        <div class="container row mt-16  ">
            <div class="row text-center pb-105">
                <h2 class="title-text">Cảm nhận học viên</h2>
            </div>
            <div class=" d-flex jc-arrow">
                {{#each feedbacks}}
                <div class="pd-h15 col-3">
                    <div class="mb-40  feedback  text-center  pd-30 ">
                        <div class="avartar ">
                            <img class="text-center" src="https://acmjinzai.com/{{this.image}}" alt="" width="100"
                                height="100">
                            <span><i class="fa-solid fa-exclamation"></i></span>
                        </div>
                        <p class="describe-text mb-48 mt-48">{{this.description}}</p>
                        <p class="name">{{this.name}}</p>
                        <span class="position">{{this.position}}</span>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{!-- end feedback --}}

    {{!-- start news action --}}
    <section class="content-news d-flex jc-center ">

        <div class="container row mt-16 ">
            <div class="row text-center pb-105">
                <h2 class="title-text">TIN TỨC HOẠT ĐỘNG</h2>
            </div>

            <div class=" d-flex jc-arrow ">
                {{#each activities}}
                <div class="mb-40 col-3 pd-h15 row-items">
                    <div class="col-1 content-new">
                        <a class="">
                            <img class=" text-center col-1" src="https://acmjinzai.com/{{this.image}}" alt="">
                        </a>
                        <div class=" pd-24 ">
                            <div class="mb-16">
                                <span class="span-text">{{this.title}}</span>
                            </div>
                            <a href=" ">
                                <h3 class="mb-16 heading-text text">{{this.heading}}</h3>
                            </a>
                            <p class="mb-16 describe-text text">{{this.description}}</p>

                            <a href="" class="btn bg-blue pd-6-12 mb-16 mt-16">Xem {{this.title}} khác!</a>
                        </div>

                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </section>

    <!-- link school -->
    <section class="content-link-school pt-105  pb-105 d-flex jc-center">
        <div class="container row mt-16  ">
            <div class="row text-center pb-105">
                <h2 class="title-text">Liên kết trường</h2>
            </div>

        </div>


    </section>
</div>