{{>slider2

title="ĐIỀU DƯỠNG"
pageCurrent="ĐIỀU DƯỠNG"
}}
<div class="nurse pt-105 pb-105 d-flex jc-center">
    <div class="container d-flex jc-center">
        <div class="news-hot col-75 pd-h15">
            <h2 class="title-text mb-16 pd-h15"> TIN TỨC ĐIỀU DƯỠNG NỔI BẬT</h2>
            <div class="d-flex " data-page="{{currentPage}}">
                {{#each currentData}}
                <div class="mb-40 col-3 pd-h15  row-items">
                    <div class="col-1 content-new">
                        <a class="https://acmjinzai.com/{{this.link}}" href="https://acmjinzai.com/{{this.link}}">
                            <img class=" text-center col-1" src="https://acmjinzai.com/{{this.image}}" alt="">
                        </a>
                        <div class=" pd-15 ">
                            <div class="mb-16">
                                <span class="span-text"><i class="fa-regular fa-calendar"></i> {{this.date}}</span>
                            </div>
                            <a href=" https://acmjinzai.com/{{this.link}}">
                                <h5 class="mb-16 heading-text">{{this.heading}}</h5>
                            </a>
                            <p class="mb-16 describe-text">{{this.description}}</p>
                        </div>
                    </div>
                </div>

                {{/each}}
                
            </div>
            <div class="d-flex jc-center row">

                    <div class="pagination">
                        <a href="?page={{prevPage}}" class="prevPage">&laquo;</a>
                        {{#each pageList}}
                        <a href="?page={{this}}">{{this}}</a>
                        {{/each}}
                         <a href="?page={{nextPage}}" class="nextPage">&raquo;</a>
                    </div>
                </div>
        </div>
        <div class="news-old col-4  pd-h15">
            <h4 class="title-text mb-16">TIN TỨC CŨ HƠN</h4>
            {{#each nextData}}
            <div class="mb-24">
                <div class="mb-8">
                    <a href="https://acmjinzai.com/{{this.link}}" class="heading-text">
                        {{this.heading}}
                    </a>
                </div>
                <div class="bd-b">
                    <a href="https://acmjinzai.com/{{this.link}}">
                        <span class="span-text"><i class="fa-regular fa-calendar"></i> {{this.date}}</span>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>